@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
}
.desktop {
	width: auto;
	height: 1024px;
	background-color: #fffff;	
}
.header {
	width: auto;
	height: 50px;
	background-color:#FFFFFF;
	margin-left: auto;
	margin-right: auto;
}
.minpaku {
	padding-left: 20px;
	padding-top: 15px;
	width: 200px;
}
nav {
text-align: right;
}
nav ul {
margin: 0px ;
padding-top: 32px;
}
nav ul li {
list-style: none;
display:inline-block;
width: 12%;
min-width: 90px;
}
nav ul li a{
text-decoration: none;
color: #333;
font-weight: 600;
}
nav ul li a:hover{
color: #3b82bf;
}
a{ 
   text-decoration: none;
   font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
   display: block;
   float:left;
  }

.middle{ 
   background-color:#fff;
   border-width: 0px;
   padding-left: 0px;
   margin-top: 0px;
   margin-bottom: 10px;
   width: auto; 
   height: 1px;
   text-align: left;
   margin-left: auto;
   margin-right: auto;
}
.image1 { 
   background-color:#CEE6FA;
   border-width: 0px;
   padding-left: 0px;
   margin-top: 0px;
   margin-bottom: 10px;
   width: 100%; 
   
   text-align: left;
   margin-left: ;
   margin-right: auto;
}


.content1 {
  position: relative;/*?*/
  }

p.content1  {
  position: absolute;/*?*/
  color: white;
  font-weight: bold; 
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  word-break: break-all;

  top: 20%;
  left: 35%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding-top: 0;
  }

.bottom {
   background-color: #fff;
   border-width: 0px;
   padding-left: 40px;
   margin-top: 40px;
   margin-bottom: 40px;
   width: auto; 
   height: 20px;
   margin-left: auto;
   margin-right: auto;
}
.content2 {
   font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
   font-weight:60;
   font-size: 13px;
   padding-top:2px;
  }

img {
	display: block;
	float: left;
   }




